src/main/resources/org/storytotell/megabooks/oclc/classify/classify.xsd

<!-- generated by http://www.freeformatter.com/xsd-generator.html#ad-output -->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://classify.oclc.org"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="classify">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="response">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="code"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="work">
          <xs:annotation>
            <xs:documentation>Classify is a product of OCLC Online Computer Library Center: http://classify.oclc.org</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:int">
                <xs:attribute type="xs:string" name="author"/>
                <xs:attribute type="xs:byte"   name="editions"/>
                <xs:attribute type="xs:string" name="format"/>
                <xs:attribute type="xs:short"  name="holdings"/>
                <xs:attribute type="xs:string" name="itemtype"/>
                <xs:attribute type="xs:int"    name="pswid"/>
                <xs:attribute type="xs:string" name="title"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="authors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lc"   use="optional"/>
                      <xs:attribute type="xs:int"    name="viaf" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="orderBy"/>
        <xs:element name="input">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:int">
                <xs:attribute type="xs:string" name="type"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="recommendations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ddc">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mostPopular">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="holdings"/>
                            <xs:attribute type="xs:float" name="nsfa"/>
                            <xs:attribute type="xs:float" name="sfa"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="mostRecent">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="holdings"/>
                            <xs:attribute type="xs:float" name="sfa"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="latestEdition">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="holdings"/>
                            <xs:attribute type="xs:byte"  name="sf2"/>
                            <xs:attribute type="xs:float" name="sfa"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lcc">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mostPopular">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short"  name="holdings"/>
                            <xs:attribute type="xs:string" name="nsfa"/>
                            <xs:attribute type="xs:string" name="sfa"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="mostRecent">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short"  name="holdings"/>
                            <xs:attribute type="xs:string" name="sfa"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>